[submodule "dflash/deps/llama.cpp"]
	path = dflash/deps/llama.cpp
	url = https://github.com/smpurkis/llama.cpp.git
	branch = master
[submodule "dflash/deps/Block-Sparse-Attention"]
	path = dflash/deps/Block-Sparse-Attention
	url = https://github.com/mit-han-lab/Block-Sparse-Attention.git
